.App {
    font-family: sans-serif;
    max-width: 500px;
    min-height: 100vh;
  }

  .annotation {
    margin-top: 10px;
    font-style: italic;
  }
   
  .add-music {
    margin-top: 20px;
  }
  
  input[type="text"] {
    display: inline-block;
    width: 150px;
  }
  
  span {
    width: 150px;
    display: inline-block;
    margin-right: 5px;
  }
  